td{
    border: 2px solid black;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    height: 500px;
}

thead {
    font-weight: bold;
    background-color: rgba(123, 133, 108, 0.527);
    height: 30px;
}

button {
    font-size: medium;
    font-family: monospace;
    text-align: center;
    /* background-color: rgba(51, 155, 3, 0.608); */
    background-color: rgba(120, 127, 120, 0.608);
    margin-bottom: 10px;
}

#div_btn {
    float: inline-end
}

#rfrsh {
    background-color: rgb(48, 80, 226);
    color: aliceblue;
}

#add_employee {
    background-color: rgb(74, 138, 87);
    color: white;
}
#confirmButton{
    background-color: rgb(235, 244, 234);
    font-size: large;
}
#addButton{
    background-color: #fff;
}
#del_employee {
    background-color: rgba(229, 83, 83, 0.794);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(212, 177, 177); /* Fallback color */
    background-color: rgba(72, 59, 52, 0.503); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(99, 141, 80);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  input {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
